@import './const/breakpoint';
@import './const/variables';

@import './helpers/animations';
@import './helpers/breakpoint';
@import './helpers/mixins';

@import './layout/layout';

@import './components/buttons';

.test {
  display: block;
  background-color: $orange;
}

h2 {
  color: $red;
}